<!DOCTYPE html>
<html>
@{
    Html.RenderPartial("DocumentHead");
}
<body>
  @{
      Html.RenderPartial("Header");
  }

  <div class="container-fluid">
    <div class="row">
      @RenderBody()
      <hr />
      @{
          Html.RenderPartial("Footer");
          @RenderSection("Scripts", required: false);
          @RenderSection("ChartScripts", required: false);

      }
      @(Html.EJ().ScriptManager())
    </div>
  </div>
</body>



</html>
